<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ImportExcelFilePath" value="C:\Users\Roberto\OneDrive\Spese.xlsx" />
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=MAIN;Database=ExpenseTracker_Main2;User Id=fantadepo;Password=fantadepo;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>