<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SetupSection" type="System.Configuration.NameValueSectionHandler" />
		<section name="ImportSection" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<ImportSection>
		<add key="XlsFilePath" value="C:\Users\Roberto\OneDrive\Spese.xlsx" />
		<add key="XlsSheetsToIgnore" value="back-up;sheet;maggio 2021;giugno 2021;luglio 2021;agosto 2021" />
	</ImportSection>

	<SetupSection>
		<add key="Sella" value="330000" />
		<add key="Satispay" value="10270" />
		<add key="Hype" value="11851" />
		<add key="Contanti" value="0" />
	</SetupSection>


	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=MAIN;Database=ExpenseTracker_Main2;User Id=fantadepo;Password=fantadepo;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>