<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImportSection" type="System.Configuration.NameValueSectionHandler" />
    <section name="SetupSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <appSettings>    

  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <ImportSection>
    <add key="FilePath" value="" />
    <add key="SheetsToIgnore" value = ""/>
    <add key="FirstAccountName" value = ""/>
    <add key="SecondAccountName" value = ""/>
    <add key="ThirdAccountName" value = ""/>
    <add key="TransactionDateIndex" value = ""/>
    <add key="TransactionDescriptionIndex" value = ""/>
    <add key="TransactionOutflowIndex" value = ""/>
    <add key="TransactionInflowIndex" value = ""/>
    <add key="TransactionAccountNameIndex" value = ""/>
    <add key="TransferDateIndex" value = ""/>
    <add key="TransferDescriptionIndex" value = ""/>
    <add key="TransferAmountIndex" value = ""/>
  </ImportSection>

  <SetupSection>
    
  </SetupSection>
  
</configuration>